.header-wrapper {
    width: 100%;
    height: 350px;
    background: linear-gradient(90deg, rgba(37,12,56,1) 20%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding-top:35px;
}

.header-netflix {
    font-size: 25px;
    color: #f65261;
}


.header-search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}