.resultsFilter {
    color: #f65261;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;

    &:hover {
        border-bottom: 1px solid #f65261;
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid #f65261;
    }
}